<%- include('../partials/header') -%>

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
          <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Communities</h2>
          <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Take a look around, browse our communities, and find somewhere to contribute.</p>
      </div> 
      <div class="grid gap-8">
        <div class="overflow-auto max-h-screen relative shadow-md sm:rounded-lg">
          <div class="flex justify-between">
            <div class="pb-4 bg-white dark:bg-gray-900 sm:w-12">
              <label for="table-search" class="sr-only">Search</label>
              <div class="relative mt-1">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                  <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" id="table-search" class="block p-2 pl-10 w-60 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500 " placeholder="Search for items">
              </div>
            </div>
            <div class="flex justify-end pb-4 bg-white dark:bg-gray-900">
              <button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button" data-modal-toggle="authentication-modal">
                Create Community
              </button>
            </div>
          </div>
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="py-3 px-6">
                          Community List
                      </th>
                  </tr>
              </thead>
              <tbody>
                <% communities.forEach((el, i) => {%>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                      <td class="p-4 w-4">  
                        <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                          <span class="mb-4 bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-1 w-3 h-3">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>                            
                            <%= communities[i].category %>
                        </span>
                          <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="/communities/<%= communities[i]._id%>"><%= `${communities[i].communityName}` %></a></h2>
                          <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
                            <%= communities[i].description %>
                          </p>
                          <div class="flex justify-between items-center mb-5 text-gray-500">
                            <span class="text-sm">
                              Creation date: <%= `${communities[i].createdAt}` %>
                            </span>
                        </div>
                          <div class="flex justify-between items-center">
                              <div class="flex items-center space-x-4">
                                <div class="overflow-hidden relative w-6 h-6 bg-gray-100 rounded-full dark:bg-gray-600">
                                  <svg class="absolute -left-1 w-8 h-8 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                                </div>
                                  <span class="font-medium dark:text-white">
                                    Created by: <%= communities[i].createdBy %> 
                                  </span>
                              </div>
                              <a href="/communities/<%= communities[i]._id%>" class="inline-flex items-center font-medium text-green-600 dark:text-green-500 hover:underline">
                                  Learn more
                                  <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                              </a>
                          </div>
                        </article>
                      </td>
                    </tr>
                  </a>
                <% }) %>
              </tbody>
          </table>
      </div>                 
    </div>  
  </div>

<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="py-6 px-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Create your own community</h3>
                <form class="space-y-6" action="/communities/createCommunity" method="post">
                    <div>
                        <label for="communityName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Community Name</label>
                        <input type="text" name="communityName" id="communityName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Name your community" required>
                    </div>
                    <div>
                        <label for="communityDescription" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Describe your community</label>
                        <textarea id="communityDescription" name="communityDescription" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Give a brief description of your community" required></textarea>
                    </div>
                    <div class="flex justify-between">
                      <label for="focus" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select an option</label>
                      <select id="focus" name="focus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" required>
                        <option selected disabled>Choose a community focus</option>
                        <option value="beautification">Beautification</option>
                        <option value="education">Education</option>
                        <option value="environmental sustainability">Environmental Sustainability</option>
                        <option value="mental health">Mental Health</option>
                        <option value="non-profit">Non-Profit Specific</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                    <input type="hidden" name="createdBy" id="createdBy" value="<%= user.userName %>">
                    <button type="submit" class="w-full text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Create Community</button>
                </form>
            </div>
        </div>
    </div>
  </div> 
</section>

<%- include('../partials/footer') -%>


